/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@100;400;500;700&display=swap');

/* BODY */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body, button, input, textarea {
  font-family:'Poppins', sans-serif;
  font-size: 16px;
}
body{
  background-color: white;
  color: black;
}
h1,h2,h3 {
  color: #f7a12c;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}img {
  max-width: 100%;
  height: auto;
}
/* CONTENT  */

.section{
  padding: 6rem 0 2rem;

}
.section_title{
  font-size: 32px;
  color: #f7a12c;
}
.section_subtitle{
  display: block;
  font-size: 16px;
  margin-bottom: 4rem;
  color: rgb(80, 80, 80)

}.section_title,.section_subtitle{
  text-align: center;
}
/* LAYOUT */

.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
  gap: 1.5rem;

}
/* BUTTONS */

.button{
  display: inline-block;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: medium;

}.button:hover{
  border-style: solid;
  background-color: #f7a12c;
  color:#fff;

}button_icon{
  margin-left: 1.25rem;
}
button--flex {
  display: inline-flex;
  align-items: center;

}
/* SCREEN MODIFICATION */
@media screen and (max-width:992px) {
  .container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;

  }
  .button{
    padding: 1rem 1.75rem;
  }.button_icon{
    width: 12px;
    height: 12px;
  }
  
}
@media screen and (max-width: 768px){
 body{
  margin: 0 0 3rem 0;
 }
  .section{
  padding: 2rem 0 4rem;
 }
 .section_subtitle{
  margin-bottom: 3rem;
 }
}
@media screen and (max-width: 576px){
 
}
@media screen and (max-width: 350px){
  
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

}